
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1>Add people form</h1>
        <button class="btn btn-danger" id="add-rows">Add Row</button>
        <form style="margin-top: 10px;" method="post" action="/home/add">
            <div id="ppl-rows">
                <div class="row person-row" style="margin-bottom: 10px;">
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="people[0].firstname" placeholder="First Name" />
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="people[0].lastname" placeholder="Last Name" />
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" name="people[0].age" placeholder="Age" />
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-danger delete">Delete</button>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="/js/add.js"></script>
}

@section css {
    <link rel="stylesheet" href="/css/add.css"/>
}